body{
    background-color:mediumvioletred;
}
button{
    width: 100px;
    height: 40px;
    border-radius: 2px solid black;
    border-color: 3px solid black;
    margin-left: 300px;
}
h1{
    color:azure;
    margin-left: 200px;
}